.cell{
    width: 7.5rem;
    height: 7.5rem;
    border: 0.2rem solid;
    box-shadow: 0 0 0 0.2rem;
    line-height: 7.5rem;
    font-size: 5rem;
    cursor: pointer;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    width: 22.5rem;
    margin: 0 auto;
}


#restartBtn{
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
    /* transform: translateX(10%); */
    background: linear-gradient(to right bottom, brown 20%, blue 60%, red);
    font-weight: 700;
}

